.main {
    margin: 180px 30px 0 30px;
    background-color: white;

    &__search {
        width: 90px;
        height: 90px;
        background-color: #ff7810;
        border: none;
        border-radius: 50%;
        position: fixed;
        bottom: 20px;
        right: 20px;
        opacity: 0.9;
    }
    &__button {
        height: 40px;
    }
}