
.nav {
    border-bottom: 1px rgb(206, 206, 206) solid;
    height: 80px;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        padding: 0 0 0 10px;
    }

    &__menu {
        width: 25px;
        height: 25px;
    }

    &__logo {
       margin: 0;
       font-size: 32px;
    }

    &__search {
        border: 1px solid black;
        border-radius: 50%;
        padding: 10px;
        width: 15px;
        height: 15px;
    }    
}